<div class="container" style="padding:20px">
  <!-- Loading Widget -->
  <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;" loading-widget >
        <div class="loadingContent">
            <p>
                <img alt="Loading  Content" src="images/ajax-loader.gif" /> Loading
            </p>
        </div>
  </div>
  <!-- Data Display -->
  <div class="row">
  	<div class="col-md-1">App Info</div>
  	<div class="col-md-4">
  		<ul>
  			<li>ID: {{project_id}}</li>
  			<li>AppRoot: {{appRoot}}</li>
  			<li>Something</li>
  		</ul>	
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-1">Libraries</div>
  	<div class="col-md-4">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Size</th>
			</tr>
			<tr>
				<td>hello</td>
				<td>1.0</td>
				<td>13234</td>
			</tr>
			<tr ng-repeat="lib in libs">
				<td>{{lib}}</td>
				<td>{{lib.version}}</td>
				<td>{{lib.size}}</td>
			</tr>
		</table>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-4">
          <form novalidate class="form">
            <button type="submit" class="btn btn-success" ng-click="build()">Build</button>
          </form>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-7 logDisplay">
  		{{rawData}}
  	</div>
  </div>
</div>
