<div class="container" style="padding:20px">
  <!-- Example row of columns -->
  <div class="row">
  	<div class="col-md-1">App Info</div>
  	<div class="col-md-4">
  		<ul>
  			<li>Something</li>
  			<li>Something</li>
  			<li>Something</li>
  		</ul>	
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-1">Libraries</div>
  	<div class="col-md-4">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th>Size</th>
			</tr>
			<tr>
				<td>hello</td>
				<td>1.0</td>
				<td>13234</td>
			</tr>
		</table>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-4">
          <form novalidate class="form">
            <button type="submit" class="btn btn-success" ng-click="build()">Build</button>
          </form>
    </div>
  </div>
</div>
