<div class="container" style="padding:20px">
  <div class="row">
  	<div class="col-md-1">Build Log</div>
  	<div class="col-md-7 logDisplay">
  		GET /app/js/filters.js Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/js/directives.js Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/lib/jquery/jquery-1.10.1.min.js Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/lib/bootstrap/bootstrap.min.js Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/partials/analyze.html Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/lib/jquery/jquery-1.10.1.min.map Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		404 Not Found: /app/lib/jquery/jquery-1.10.1.min.map
		GET /app/partials/home.html Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/partials/create.html Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
		GET /app/partials/build.html Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.107 Safari/537.36
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-7 logDisplay">
  		{{rawData}}
  	</div>
  </div>
</div>
